#**Module 04 | Python - Data Structure Assignment**

#**Theoritical Questions and Answers**

##1. What are data structures, and why are they important?  
* Data structures are ways to organize and store data in memory of a computer. Data structure determine how quickly and effectively we can access and manipulate data in programs.

##2. Explain the difference between mutable and immutable data types with examples.  
* Mutable data types can be changed after they are created, like lists. Immutable types cannot be changed once created, such as tuples. For example, you can add or remove items from a list since they are mutable, but same cannot done in a tuple after it's created because it is immutable.

##3. What are the main differences between lists and tuples in Python?  
* Lists are mutable, meaning you can change their elements, while tuples are immutable, meaning once created, their elements cannot be changed. Lists use square brackets `[ ]`, and tuples use parentheses `( )`.

##4. Describe how dictionaries store data.  
* Dictionaries in Python store data in key and value pairs. Each key is unique. and it's associated with a value. However, the keys in any dictionary must be immutable. Meaning that data types like strings, numbers, and tuples can be used as keys

##5. Why might you use a set instead of a list in Python?  
* Sets are used when you want to store unique elements and don't care about their order. They automatically remove duplicates, which can be useful for tasks like finding and storing unique data.

##6. What is a string in Python, and how is it different from a list?  
* A string is a sequence of characters enclosed in quotes. It is immutable, meaning it can't be changed. A list is a collection of items that can include numbers, strings, etc., and it is mutable, so you can change its elements.

##7. How do tuples ensure data integrity in Python?  
* Tuples are immutable, so once they are created, their values cannot be changed. This ensures that the data remains safe and unmodified, making them useful for storing constant or protected data.

##8. What is a hash table, and how does it relate to dictionaries in Python?  
* A hash table is a data structure that stores data using key value pairs and uses a hash function to find the index of the key. Python dictionaries are built using hash tables, which is why looking up values using keys is very fast.

##9. Can lists contain different data types in Python?  
* Yes, Python lists can hold elements of different data types. For example, a list can have an integer, a string, a float, complex no. and even another list.

##10. Explain why strings are immutable in Python.  
* Strings are immutable to ensure they cannot be changed after creation. This helps keep the data safe and also makes Python faster and more memory efficient when handling strings.

##11. What advantages do dictionaries offer over lists for certain tasks?  
* Dictionaries are useful when it is needed to look up data based on a unique identifier, like a user ID or product code. Dictionaries allow fast access to values using keys, which is much quicker than searching through a list.

##12. Describe a scenario where using a tuple would be preferable over a list.  
* Tuples are better when you want to make sure data doesn't change. For example, storing PAN card and Aadhar card details of any person so it cannot be changed once regestired.

##13. How do sets handle duplicate values in Python?  
* Sets automatically remove any duplicate values. If you try to add the same value again, it wonâ€™t be added. This is helpful for keeping only unique elements in your data.

##14. How does the "in" keyword work differently for lists and dictionaries?  
* For lists, the `in` keyword checks if a value is present in the list. For dictionaries, it checks if a key or a value exists in the dictionary, example `value in list` looks for values, but `key in dict` looks for keys.

##15. Can you modify the elements of a tuple? Explain why or why not.  
* No, you cannot modify the elements of a tuple because they are immutable. Once a tuple is created, its values are fixed and cannot be changed.

##16. What is a nested dictionary, and give an example of its use case?  
* A nested dictionary is a dictionary inside another dictionary. It is useful for storing structured data. For example, you can use it to store information about students where each student has their own dictionary of details like name, age, and marks.

##17. Describe the time complexity of accessing elements in a dictionary.  
* Accessing elements in a dictionary has an average time complexity of O(1). This means it takes a constant time to get a value using a key, no matter how big the dictionary is.

##18. In what situations are lists preferred over dictionaries?  
* Lists are preferred when you need to maintain order or when you want to store items without unique keys. They are also useful for simple sequences of items where you access elements by position.

##19. Why are dictionaries considered unordered, and how does that affect data retrieval?  
* Dictionaries are considered unordered because their items are not stored in any fixed order. This means you can't rely on the order of items when you loop through them, but you can still access values quickly using their keys.

##20. Explain the difference between a list and a dictionary in terms of data retrieval.  
* Lists retrieve data using index positions like 0, 1, 2, while dictionaries retrieve data using keys. So with lists, you access by order, and with dictionaries, you access by key.

#**Practical Questions and Answers**

##1. Write a code to create a string with your name and print it.

In [ ]:
name="Kunal Rao"
print(name)

Kunal Rao

##2. Write a code to find the length of the string "Hello World".

In [ ]:
a="Hello World"
len(a) #space is also considered while counting length

11

##3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
p="Python Programming"
p[:3]

'Pyt'

##4. Write a code to convert the string "hello" to uppercase.

In [ ]:
h="hello"
h.upper()

'HELLO'

##5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
i="I like apple"
i.replace("apple", "orange")

'I like orange'

##6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list1=[] #expty list
for i in range(1,6):
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5]

##7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list2=[1, 2, 3, 4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

##8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list3=[1, 2, 3, 4, 5]
list3.pop(2) #index of element 3 is 2

3

In [ ]:
print(list3) #3 popped out

[1, 2, 4, 5]

##9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list4=['a', 'b', 'c', 'd']
list4[1] #2nd element, 'b', has index 1

'b'

##10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list5=[10, 20, 30, 40, 50]
list5[::-1]

[50, 40, 30, 20, 10]

##11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t1=(100,200,300)
print(t1)

(100, 200, 300)

##12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t2=('red', 'green', 'blue', 'yellow')
t2[-2] #using negative indexing

'blue'

##13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t3=(10, 20, 5, 15)
min(t3)

5

##14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
t4=('dog', 'cat', 'rabbit')
t4.index("cat")

1

##15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t5=("apple", "banana", "kiwi")
print(t5)
"kiwi" in t5 #will return 'True'

('apple', 'banana', 'kiwi')

True

##16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s1={'a', 'b', 'c'}
print(s1)

{'a', 'c', 'b'}

##17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s2={1, 2, 3, 4, 5}
s2.clear() #will clear all the elements and set will become empty set

In [ ]:
s2

set()

##18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s3={1, 2, 3, 4}
s3.remove(4) #will remove the element 4
print(s3)

{1, 2, 3}

##19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
s4={1, 2, 3}
s5={3, 4, 5}
s4 | s5 #gives new set will all elements while removing duplicates

{1, 2, 3, 4, 5}

##20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
s6= {1, 2, 3}
s7= {2, 3, 4}
s6 & s7 #gives common elemnts in both sets

{2, 3}

##21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
d1={"name":"Kunal Rao", "age":"24", "city":"Hyderabad"}
print(d1)

{'name': 'Kunal Rao', 'age': '24', 'city': 'Hyderabad'}

##22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
d2={'name': 'John', 'age': 25}
d2["country"]="USA" #will add new pain at end
print(d2)

{'name': 'John', 'age': 25, 'country': 'USA'}

##23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d3={'name': 'Alice', 'age': 30}
d3["name"] #key acts as index

'Alice'

##24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
d4={'name': 'Bob', 'age': 22, 'city': 'New York'}
d4.pop("age") #pop will pop out the key and value pair both from d4

{'name': 'Bob', 'city': 'New York'}

In [ ]:
print(d4)

{'name': 'Bob', 'city': 'New York'}

##25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d5={'name': 'Alice', 'city': 'Paris'}
"city" in d5 #returns True

True

##26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
#creating

List=[1,"kunal","c",4.8,1+2j]   #list
Tuple=("K","Rao",2.2,9,4+1j)    #tuple
Dictionary={'name': 'Abhishek', 'city': 'Bilaspur'}   #dictionary

#printing
print(List)
print(Tuple)
print(Dictionary)

[1, 'kunal', 'c', 4.8, (1+2j)]
('K', 'Rao', 2.2, 9, (4+1j))
{'name': 'Abhishek', 'city': 'Bilaspur'}

##27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
r= random.sample(range(1, 101), 5) #creats list of defined random elements from provided range
r.sort()
print(r)

[7, 27, 54, 57, 94]

##28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
LIST=[1.1, 2, "kunal", "C", 1+6j]
LIST[2] #third index is 2

'kunal'

##29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
di1 = {'a': 1, 'b': 2}
di2 = {'c': 3, 'd': 4}
di1.update(di2) #will update di1 with di2 key value pair
print(di1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

##30. Write a code to convert a list of strings into a set.

In [ ]:
lis=[1, 1, 2.1, 2.1, "Kunal", "C", 2+2j]
type(lis)
set(lis) #will convert lis into set with unique unordered elements from lis

{(2+2j), 1, 2.1, 'C', 'Kunal'}